<mat-card>
    <mat-icon>wifi_tethering</mat-icon> {{normalEvent}}, {{historicalEvent}}, {{latestEvent}}
  <form>
    <mat-form-field>
      <input matInput readonly name="random" [ngModel]="random">
    </mat-form-field>
    <button mat-raised-button color="accent"
      (click)="generateRandom()">Generate New &amp; Publish
    </button>
  </form>
  <div flex>
    <mat-chip-listbox>
      <mat-chip *ngFor="let data of list" [color]="data.myColor" selected>
        {{data.myNumber}}
      </mat-chip>
    </mat-chip-listbox>
  </div>
</mat-card>