<mat-card>
  <div layout="row" style="min-height: 50px;">
    <div style="float: left">
      <mat-icon *ngIf="isSubscribed">signal_wifi_4_bar</mat-icon>
      <mat-icon *ngIf="!isSubscribed">signal_wifi_off</mat-icon>
    </div>
    <div flex>
      <mat-chip-list>
        <mat-chip *ngFor="let data of list" [color]="data.myColor" selected>
          {{data.myNumber}}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>

  <!-- have to use the buttons in a strange way as
    click was getting fired even for disabled toggle button
   -->
  <mat-button-toggle-group *ngIf="!isSubscribed">
    <button mat-button (click)="subscribeEvent()">
      Subscribe to <b>{{eventName}}</b>
    </button>
    <mat-button-toggle disabled>
      Unsubscribe
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group *ngIf="isSubscribed">
    <mat-button-toggle disabled>
      Subscribed to <b>{{eventName}}</b>
    </mat-button-toggle>
    <button mat-button (click)="unsubscribeEvent()">
      Unsubscribe
    </button>
  </mat-button-toggle-group>
</mat-card>